a.link, a.link:hover, a.link:active, a.link:visited {
    text-decoration: underline;
    color: #101010;
}

#id_treners, #id_trener, #id_trener_part {
    display: none;
}

.detail-photo {
    width: 400px;
    height: 500px;
}