a.link, a.link:visited, a.link:active {
    text-decoration: underline;
    color: #212529;
}

a.link:hover {
    color: cadetblue;
}


#id_treners, #id_trener, #id_trener_part {
    display: none;
}

.detail-photo {
    width: 600px;
    height: 800px;
}