{% extends 'billing/base.html' %}

{% block title %}Залы{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Машерова 17/4</th>
                <th scope="col">Свердлова 23</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Телефон</th>
                {% for address in addresses %}
                    <td>{{address.tel_number}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block pagination %}
{% endblock %}