{% extends 'billing/base.html' %}

{% block title %}Treners{% endblock %}

{% block content %}

    <div class="row row-cols-3">

        {% for trener in treners %}

            <div class="col card m-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{trener.name}}</h5>
                    {% if trener.info %}
                        <p class="card-text">{{trener.info}}</p>
                    {% endif %}
                    <a href="#" class="btn btn-primary">Перейти</a>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}