{% extends 'billing/base.html' %}

{% block title %}{{group.trener.last_name}}, {{group.time}}{% endblock %}

{% block content %}
    <div class="container-xxl d-flex flex-column align-items-center">
        <div class="row text-center mb-4 w-50">
            <a href="{% url 'detail_object' 'trener' group.trener.id %}" class="link-block"><div class="col p-4 shadow rounded m-2 link-block">{{group.trener}}</div></a>
        </div>
    </div>
    <div class="row mb-4 text-center">
        <div class="col p-4 shadow rounded m-2">
            Тип занятий: 
            {% if group.sport_type == 'B' %} Классический бокс
            {% elif group.sport_type == 'T' %} Тайский бокс
            {% elif group.sport_type == 'W' %} Женская группа
            {% elif group.sport_type == 'M' %} ММА
            {% endif %}
        </div>
        <div class="col p-4 shadow rounded m-2">
            Тип группы:
            {% if group.gr_type == 'A' %} Взрослая
            {% else %}Т Детская
            {% endif %}
        </div>
        <div class="col p-4 shadow rounded m-2">
            Расписание:
            {% if group.schedule == 'even' %} вт. чт. сб.
            {% else %} пн. ср. пт. 
            {% endif %}
        </div>
        <div class="col p-4 shadow rounded m-2">Время: {{group.time}}</div>
    </div>
    <div class="container-xxl d-flex flex-column align-items-end">
        <div class="row text-center mb-4 w-25">
            <div class="col p-4 shadow rounded m-2">
                Адрес: {{group.address}}
            </div>
        </div>
    </div>
    
    <hr>

    <div class="row d-flex justify-content-center">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col" colspan="5">Клиенты</th>
                </tr>
                <tr class="text-center">
                    <th scope="col">Карточка</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Последняя оплата</th>
                    <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for client in page_obj %}
                    <tr class="text-center">
                        <td><a href="{% url 'detail_object' obj='client' id=client.id %}">{{client.member_card}}</a></td>
                        <td><a href="{% url 'detail_object' obj='client' id=client.id %}">{{client.name}}</a></td>
                        <td>{{client.tel_number}}</td>
                        <td>{{client.last_payment.date}}</td>
                        <td>{{client.last_payment.total_amount}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}