{% extends 'billing/base.html' %}

{% block title %}{{trener.name}}{% endblock %}

{% block content %}

    <div class="container-xxl">
        <div class="row">
            <div class="col">
                {% if trener.photo %}
                    <div class="detail-photo border d-flex justify-content-center">
                        <img src="{{trener.photo.url}}" alt="{{trener.name}}" class="rounded w-75 h-75">
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <div class="row h-75 border">
                    <div class="col">
                        <h1>{{trener.name}}</h1>
                        <p>{{trener.tel_number}}</p>
                        {% if trener.info %}
                            <p>Доп. информация: {{trener.info}}</p>
                        {% endif %}
                        <p>Группы: </p>
                        {% for group in trener.group_set.all %}
                            <a href="{% url 'detail_object' obj='group' id=group.id %}"><p>{{group}}</p></a>
                        {% endfor %}
                        <p>Индивидуалы: </p>
                        {% for individual in trener.client_set.all %}
                            <a href="{% url 'detail_object' obj='client' id=individual.id %}"><p>{{individual}}</p></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="row h-25 border">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'edit_object' obj='trener' id=trener.id %}" class="btn btn-info m-3">Изменить</a>
                                <a href="{% url 'delete_object' obj='trener' id=trener.id %}" class="btn btn-danger m-3">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}