{% load static %} {% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'billing.css' %}">
    <title id="title">{% block title %}BASE{% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xxl">
          <a class="navbar-brand" href="{% url 'index' %}">ChinukMaster</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Проверить карточки</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Клиенты
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'show_objects' obj='client' %}">Просмотр</a></li>
                  <li><a class="dropdown-item" href="{% url 'new_object' obj='client' %}">Добавить нового</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Тренеры
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'show_objects' obj='trener' %}">Просмотр</a></li>
                  <li><a class="dropdown-item" href="{% url 'new_object' obj='trener' %}">Добавить нового</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Группы
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'show_objects' obj='group' %}">Просмотр</a></li>
                  <li><a class="dropdown-item" href="{% url 'new_object' obj='group' %}">Добавить новую</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Залы
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'show_objects' obj='address' %}">Просмотр</a></li>
                  <li><a class="dropdown-item" href="{% url 'new_object' obj='address' %}">Добавить новый</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Оплаты
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'show_objects' obj='payment' %}">Просмотр</a></li>
                  <li><a class="dropdown-item" href="{% url 'new_object' obj='payment' %}">Добавить новую</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" method="POST" action="{% url 'search_result' %}">
              {% csrf_token %}
              <input class="form-control mr-2" type="search" placeholder="Введите данные" aria-label="Search" name="search_request"> 
              <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
          </div>
        </div>
    </nav>

    <main class="mt-5 mb-5">
        <div class="container-xxl">
            <div class="row">
                <div class="col-xxl">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
              <div class="col-xxl">
                {% block pagination %}
                  {% if page_obj %}
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                          <li class="page-item">
                              {% if page_obj.has_previous %}
                                  <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                              {% endif %}
                          </li>
          
                          {% for index in page_obj.paginator.num_pages|times %}
                              <li class="page-item"><a class="page-link" href="?page={{index}}">{{index}}</a></li>
                          {% endfor %}
          
                          <li class="page-item">
                              {% if page_obj.has_next %}
                                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                              {% endif %}
                          </li>
                      </ul>
                    </nav>
                  {% endif %}
                {% endblock %}
              </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="{% static 'billing.js' %}"></script>
</body>
</html>