{% extends 'billing/base.html' %}

{% block title %}REPORT{% endblock %}

{% block content %}

    <h2>{{today}}</h2>

    <table cellpadding='10' border="1px solid black">
        <tr>
            <th colspan="5">Группы</th>
        </tr>

        <tr>
            <th>Номер карты</th>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Группа</th>
            <th>Сумма</th>
        </tr>

    {% for payment in payments %}
        {% if payment.group %}
            {% if payment.date == payment.today %}
                <tr>
                    <td>{{payment.client.member_card}}</td>
                    <td>{{payment.client}}</td>
                    <td>{{payment.client.tel_number}}</td>
                    <td>{{payment.group.trener}}</td>
                    <td>{{payment.amount}}</td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}

    <tr>
        <th colspan="5">Индивидуалы</th>
    </tr>

    <tr>
        <th>Номер карты</th>
        <th>ФИО</th>
        <th>Тренер</th>
        <th>Сумма</th>
        <th>Приход</th>
    </tr>

    {% for payment in payments %}    
        {% if payment.trener %}
            {% if payment.date == payment.today %}
                <tr>
                    <td>{{payment.client.member_card}}</td>
                    <td>{{payment.client}}</td>
                    <td>{{payment.trener}}</td>
                    <td>{{payment.amount}} / {{payment.trener_part}}</td>
                    <td>{{payment.total_amount}}</td>
                </tr>
            {% endif %}
        {%endif%}
    {% endfor %}
    
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{result}}</td>
    </tr>

</table>

{% endblock %}